$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
html, body, div, span, applet, object, iframes,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "navbar";
@import "card";


body{
  font-family: Lora,'Times New Roman',serif;
  font-size: 20px;
  color: #404040;
  padding-top:-20px;
}

.navbar-border {
  border-bottom: 1px solid #e8e8e8;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
  margin-bottom: 0px
}

.navbar {
  font-family: "Open Sans", sans-serif;
  text-rendering: geometricPrecision;
  font-weight: 400;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0;
}


.row-eq-height, .row-eq-height > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}



.categorylist {
  bottom: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;
  background-color: #363636;
}


.categoryrow{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-justify-content: center; /* Safari */
  justify-content:         space-around;
  color: white;
    a{
      text-decoration: none;
      color: inherit;
    }

}

#sitecontainer{
  position: relative;
  height: 100%;
  width: 100%;
  transition: .5s cubic-bezier(.69,.1,.09,.94) all;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.content
{
  padding-top: 20px;
}

h2,h1{
  font-family: "Open Sans";
  font-weight: bold;
  margin-bottom:30px;
}

h2{
  font-size: 1.3em;
  margin-bottom: 20px;
}

p{
  font-size: 1.0em;
  line-height: 1.5em;

}

.article-image{
  margin:30px;
}

