$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower


body{
  font-family: Lora,'Times New Roman',serif;
  font-size: 20px;
  color: #404040;
}

code{
  font-size: 15px ;
}

p {
  line-height: 1.5;
  margin-top: 10px;

}

h2 {
  display: block;
  font-size: 1.2em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.postcontainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.postcard
{
  min-height: 300px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.post-title h2{
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: geometricPrecision;
  font-weight: 700;
}

.post-title  a {
  color: #2E2E2E;
  text-decoration: none;
  transition: color 0.3s ease;

}
.post-title a:hover {
  color: #4A4A4A;
}

.post-excerpt
{
  font-size: 16px;
}

.postcard-footer
{
  color: #4A4A4A;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 1rem;

}



 img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

 img:hover {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}



.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}


article h2{
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  text-rendering: geometricPrecision;
  font-weight: 700;
}

article .img{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
}
