<div class="row row-eq-height">
<div class="col-md-4 " ng-repeat="post in posts">


    <article class="card">

        <div class="card_thumb">
            <img src="http://lorempicsum.com/futurama/400/225/{{$index+1}}" class="image-responsive"alt=""/>
        </div>

        <div class="card_body">
            <div class="card_title">
                <div class="card_category">
                    AngularJS
                </div>
                <h2><a  ng-href="/#/viewpost/{{post.id}}" ng-bind-html="post.title"></a></h2>
            </div>
        </div>
    </article>
  </div>
</div>
